me {
    position: relative;
    width: 300px;
    height: 400px;
    padding: 1em;
    display: flex; /* Changed from inline-block to flex for centering */
    justify-content: center; /* Horizontally centers the text */
    align-items: center; /* Vertically centers the text */
    font-weight: bold;
    text-align: center; /* Ensures text alignment is centered within the div */
    color: #ff69b4; /* Bright pink color for the text */
    text-shadow: 2px 2px 5px #ff1493, -2px -2px 5px #ff1493, 0 0 4px #000; /* Creates a 3D effect */
    -webkit-text-stroke: 1px black;
    font-size: 1.25em;
    box-shadow: 0 1px 5px #00000099;
    border-radius: 10px;
    background: var(--tpl-background) center/cover;
    transition: 0.3s ease-out;
    transition-property: transform, box-shadow;
}
me:hover { transition-duration: .45s; box-shadow: 0 5px 20px 5px #00000044;     background-image: radial-gradient(circle at 90% -20%, #ffffff55, #0000000f);
}
me > div {
    position: absolute; inset: 0; border-radius: 10px;
    background-image: radial-gradient(circle at 90% -20%, #ffffff55, #0000000f);
}